@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');


/*-------Home page-------*/

@media (min-width: 320px) and (max-width: 480px) {

    body,
    html {
        overflow-x: hidden !important;
    }

    .nav-home {
        margin: 20px 0px -48px 0px;
    }

    .navbar-brand img {
        width: 104px;
        height: auto;
    }

    .home-menu {
        margin-bottom: 40px;
    }

    .login-after {
        top: -40px;
        position: relative;
        left: 134px !important;
    }

    .user-show a {
        font-size: 14px;
    }

    .home-dropdownshow {
        left: 0 !important;
        width: -webkit-fill-available;
    }

    .menu-bar-sec button {
        margin-left: 200px;
    }

    .menu-bar-sec {
        padding: 10px 0px 10px 80px;
    }

    .navbar-light .navbar-toggler {
        background-color: #fff !important;
        padding: 0px 5px 0px 5px;
    }

    .category-list .nav-link {
        position: relative;
        right: 43px;
        padding: 0px 0px 8px 15px;
        display: grid;
    }

    .home-searchbox {
        left: -3.5rem;
    }

    .search-topics {
        width: 262px;
    }

    .home-searchbox i {
        top: 27px;
        left: 238px;
    }

    .learn-section img {
        width: 300px;
        margin-left: 20px;
    }

    .learn-section {
        position: relative;
        top: -55px;
        left: 6px;
    }

    .sub-section {
        margin-top: -12rem;
    }

    .curriculam-maths {
        margin-top: 70px;
    }

    .curriculam-maths h4 {
        font-size: 18px;
        margin-left: 14px;
    }

    .home-banner button {
        position: relative;
    }

    .sub-maths span {
        margin-top: 82px;
    }

    .home-banner {
        padding: 30px;
        background-color: #fff !important;
    }

    .sub-section img {
        width: 300px;
        margin-top: 113px;
        margin-left: 25px
    }

    .text-space-top {
        margin-top: 115px !important;
    }

    .top-space {
        margin-top: 0px;
    }

    .member {
        width: 283px;
    }

    .grade-title h3 {
        top: 30px;
        font-size: 22px;
    }

    .subject-skills h6 {
        margin-left: 19px;
    }

    .unique-title h3 {
        font-size: 20px;
    }

    .unique-part img {
        width: 38px
    }

    .unique-part h5 {
        font-size: 16px;
    }

    .unique-part p {
        text-align: justify;
        word-spacing: -2px;
    }

    .footer {
        padding: 20px;
    }

    .footer img {
        width: 174px;
    }

    .foot-text>div {
        padding: 0px;
    }

    .foot-submenu h6 {
        font-size: 17px
    }

    .footer-logo img {
        text-align: center;
    }

    .foot-submenu p {
        font-size: 15px;
    }

    .copyright {
        padding: 15px 0px 0px 0px;
        font-size: 13px;
    }

    /*-----Topics and Subtopics--------*/

    .lkg-title h2 {
        font-size: 22px;
    }

    .lkg-tab .break-point {
        width: 75px !important;
        display: initial !important;
    }

    .cloud-as {
        margin-left: 8px;
    }

    /*---Test-page----*/
    .count-time {
        font-size: 16px;
    }

    .timespent-score h5 {
        font-size: 16px;
    }

    .select-option button {
        font-size: 14px;
    }

    .timespent-score {
        left: 0px !important;
        width: 99% !important;
    }

    .question-error-msg p {
        font-size: 17px;
    }

    .options-button {
        display: block;
        margin-bottom: 10px !important;
    }

    .test-complete-submit {
        width: 104px !important;
    }

    .question-error-msg p {
        font-size: 17px !important;
    }

    /*------Test-completed-----*/
    .learning-tab span {
        padding: 1px 0px 0px 5px;
        float: initial;
    }

    .planet-cont {
        display: none;
    }

    .test-completed {
        bottom: 0px;
        top: 25px;
    }

    .congarts h1 {
        font-size: 32px;
        text-shadow: -2px -2px #1565c0,
            -3px -3px #1565c0,
            -4px -4px white;
    }

    .test-complete-class {
        font-size: 15px;
    }

    .checkmark-circle {
        width: 106px;
    }

    .test-completed h4 {
        font-size: 19px;
    }

    .checkmark-circle .checkmark:after {
        height: 64px !important;
        width: 36px !important;
        left: 3px;
        top: 44px;
    }

    .checkmark-circle .background {
        width: 80px;
        height: 80px;
    }
}

/*-----Homepage-tab-----*/

@media (min-width: 768px) and (max-width: 991px) {

    body,
    html {
        overflow-x: hidden;
    }

    .home-dropdownshow {
        left: 0px !important;
    }

    .login-after {
        position: relative;
        left: 30px;
    }

    .navbar-toggler {
        position: relative;
        right: 45px;
        background-color: #fff;
    }

    .navbar-collapse {
        margin-top: 30px;
        position: relative;
        right: 78px;
    }

    .home-searchbox {
        left: 19.5rem;
        top: -1.5rem;
    }

    .home-searchbox i {
        left: 59%;
    }

    .learn-section img {
        width: 345px;
        margin-bottom: 19px;
    }

    .sub-section img {
        width: 345px;
        margin-top: 40px;
        margin-left: 104px;
    }

    .curriculam-maths {
        margin-top: 45px;
        font-size: 15px;
        margin-left: 93px;
    }

    .learn-section span h4 {
        margin-top: 58px !important;
        font-size: 20px;
        margin-right: 100px;
    }

    .curriculam-maths h4 {
        font-size: 20px;
    }

    .member-btn {
        margin-right: 30px !important;
    }

    .grade-sec {
        margin-left: 18px
    }

    .unique-success {
        display: none;
    }

    .unique-title h3 {
        font-size: 22px;
    }

    .unique-part h5 {
        font-size: 17px;
    }

    .footer {
        padding: 25px;
    }

    .footer-logo {
        text-align: center;
    }

    .footer img {
        width: 175px;
    }

    .foot-submenu h6 {
        font-size: 18px;
        margin-top: 15px;
    }

    .foot-submenu p {
        font-size: 15px;
    }

    .copyright {
        padding: 20px 0px 0px 0px;
        font-size: 17px;
    }

    /*-----Topics-page----*/
    .lkg-tab span {
        top: 39px;
        font-size: 16px;
    }

    .lkg-tab img {
        width: 45px;
    }

    .lkg-tab a {
        padding: 3px;
    }
}