@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
/*----register-success----*/
.success-card h1 {
  color: #88B04B;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}

.success-card p {
  color: #404F5E;
  font-size: 20px;
  margin: 0;
}

.success-card i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

.success-card {
  background: white;
  padding: 60px;
  margin: auto;
  border-radius: 4px;
  box-shadow: rgb(200, 208, 216) 1px 1px 6px 3px;
  display: inline-block;
}

.register-success {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #F8FAF5;
  margin: 0 auto;
}

.register-completed {
  text-align: center;
  margin: auto !important;
  display: block;
  padding: 85px;
}
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;
}

.top-space {
  margin-top: 40px;
}

.kidzuni-btn {
  background-color: #0b863c;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  border-color: #bbddc9 !important;
}

.nav-home {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar {
  padding: 0 !important;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand img {
  width: 200px;
  height: auto;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.drop-flag img {
  width: 30px;
  height: auto;
  margin: 2px 5px 0px 0px;
}


.coutry-drop-select select {
  padding: 0px;
  padding: 0px;
  font-size: 12px;
}

.change-country {
  display: flex;
  left: 360px;
  position: relative;
}

.home-dropdownshow {
  left: 82% !important;
}

.logout-btn {
  padding: 10px 10px 0px 16px;
}

.menu-bar-sec {
  margin-top: 10px;
  background-color: #763cff;
  padding: 10px;
  margin-bottom: 2px;
  justify-content: space-between;
}

.menu-bar-sec a {
  color: #fff !important;
}

.home-searchbox i {
  position: relative;
  left: 66%;
}

.home-searchbox {
  position: relative;
  left: 31.5rem;
}

.user-show a {
  color: #000;
  font-size: 17px;
}

.dropdown>.dropdown-toggle:active {

  pointer-events: none;
  background-color: #8d33aa;
}

.home-menu {
  justify-content: space-between;
}

.category-list a {
  color: #333;
  font-size: 18px;
}

.category-list a:focus {
  color: #0b863c;
  font-weight: bold;
}

.category-list .nav-link {
  display: inline;
}

.search-topics {

  background-clip: padding-box;
  border: 0.12rem solid #333;
  width: 320px;
  margin-right: 133px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.home-header a:hover {
  color: #0b863c;
}

.img-change img {
  width: 31px;
  height: 26px;
  margin-left: 3px;
}

.drop-img select {
  width: 20px;
  height: 34px;
  border: 0;
}

.home-header button {
  padding: 2px 10px 2px 10px;
  margin-left: 10px;
}

.sub-maths img {
  margin-top: 45px;
}



.home-banner {
  background-image: url("../images/d1.jpg");
  height: auto;
  background-size: cover;
  padding: 30px;
  /* width: 1365px; */
}

.learn-section {
  position: relative;
  top: 150px;
  left: 40px;
}

.learn-section span h4 {
  color: #0b863c !important;
  margin-top: 20px;
}

.learn-section img {
  width: 440px;
}

.sub-maths {
  justify-content: center;
  display: flex;
}

.sub-section h3 {
  text-align: center;

  font-weight: bold;
}

.sub-section img {
  width: 440px;
  margin-top: 90px;
}

.sub-section ul {
  justify-content: center;
  display: flex;
}

.home-banner button {
  margin: auto;
  padding: 2px 5px 2px 5px;
  position: relative;
}

.home-banner button a {
  color: #fff;
}

.curriculam-maths {
  position: absolute;
  margin-top: 110px;
  text-align: center;
}

.curriculam-maths h4 {
  display: table-caption;
  color: #8d33aa;
  margin-top: 60px;
}

/*----content----*/
.grade-title {
  justify-content: center;
}

.grade-title h3 {
  position: relative;
  top: 35px;
  color: #0b863c;
  justify-content: center;
  font-weight: bold;
}


.intro-member {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.member {
  box-shadow: 0 0 4px #333;
  margin: 40px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.grade-sec {
  border-radius: 5px 5px 0 0;
  padding: 0 0 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: auto;
}

.grade-sec .section-box img {
  transition: 0.3s;
  width: 100px;
}

.grade-sec .explore-detail {
  background-color: #0b863c;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  overflow: hidden;
  padding: 5px 0 0;
  width: 100%;
  transition: 0.3s;
}

.grade-sec .explore-detail a {
  color: #fff !important;
  float: inline-end;
  padding-right: 15px;
  margin-top: -7px;
}

.grade-sec:hover .section-box {
  border-color: #fff;
  transition: 0.3s;
  border-radius: 50%;
  /* height: 145px; */
  cursor: pointer;
}

.grade-sec:hover .explore-detail {
  padding: 6px 0;
  height: 38px;
  transition: 0.3s;
  cursor: pointer;
}

.grade-sec .member-info p {
  padding: 0 20px;
  text-align: start;
}

.subject-info {
  height: auto;
}

.member-info {
  padding: 10px;

}

.member-info span {
  line-height: 0px;
}

.subject-skills li {
  list-style: none;
}

.subject-skills h6 {
  text-align: initial;
}

.subject-skills a {
  float: right;
  margin-top: -33px;
  color: #10a0b6;
}

/* .member-info h3 {
  text-align: initial;
} */


.class-tab-box span {
  position: relative;
  top: 2px;
  font-size: 23px;
}

/*-----Unique----*/
.unique-title {
  justify-content: center;
}

.unique-title h3 {
  margin: 30px 0px 30px;
  color: #0b863c;
  font-weight: bold;
}

.unique-part img {
  width: 55px;
}

.unique-part>div {
  padding: 6px;
  margin-bottom: 10px;
  margin-top: 6px;
}

.unique-part h5 {
  display: contents;
  font-size: 18px;
  font-weight: bold;
}

.unique-part p {
  font-size: 14px;
  padding-top: 5px;
}

/*----Testimonial---*/

/*----Footer----*/
.footer {
  margin-top: 50px;
  padding: 90px;
  background-color: #e4e4e4;
}

.footer img {
  width: 235px;
  height: auto;
}

.footer-logo p {
  margin-top: -5px;
}

.foot-text>div {
  padding: 0px 0px 0px 80px;
}

.foot-submenu h6 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #0b863c;
  font-weight: bold;
}

.foot-submenu p {
  /* line-height: 10px; */
  text-align: start;
}

.footer-icons {
  margin-left: -3px;
}

.footer-icons i {
  font-size: 20px;
  margin: 3px;
}

.copyright {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}


/*----test page-----*/

.quiz-title {
  background-color: #10a0b6;
  margin: 1px;
  color: #fff;
  font-size: 20px;
  padding: 7px;

}

.count-time p {
  display: contents;
}

.count-time {
  text-align: center;
}


/*---question and answer---*/

.game-quiz-container {
  padding: 25px;
}

.game-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-details-container h1 {
  font-size: 1.2rem;
  padding-top: 10px;
}

.game-question-container {
  height: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.game-question-container h1 {
  font-size: 1.1rem;
  text-align: center;
  padding: 3px;
}

.game-options-container {
  width: 145%;
  height: 7rem;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-around;
}

.game-options-container span {
  width: 24%;
  height: 3rem;
  border: 2px solid darkgray;
  margin-right: 12px;
  border-radius: 20px;
  overflow: hidden;
}

span label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

span label:hover {
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  color: #10a0b6;
}

input[type="radio"] {
  position: relative;
  display: none;
}

input[type=radio]:checked~.option {
  color: #8d33aa;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
  height: 20rem;
  width: 25rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container h1 {
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.grade-details {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grade-details p {
  color: white;
  text-align: center;
}

.modal-button-container {
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button {
  width: 10rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 20px;
}

.modal-button-container button:hover {
  background-color: rgb(83, 82, 82);
}

.question-sumbit button {
  margin-top: 20px;
  margin-left: 30px;
}


/*--------subject list page--------*/
.cloud-tabs {
  background-color: #333;
  padding: 5px;
}

.lkg-tab {
  display: flex;
}

.select-class {
  display: none;
}

.lkg-tab a {
  padding: 5px;
  text-align: center;
}

.lkg-tab .break-point {
  display: contents;
}


.lkg-tab a:visited {
  color: #000;
}

.lkg-tab span:hover {
  color: #0b863c;
}

.lkg-tab img {
  width: 70px;
  height: auto;
}

.lkg-tab span {
  position: relative;
  top: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.lkg-title {
  padding: 30px 30px 0px 15px;
}

.lkg-title h2 {
  color: #0b863c;
  font-weight: bold;
}

.lkg-title p {
  margin-top: 20px;
}

.lkg-sec hr {
  height: 1px;
  background-color: #10a0b6;
}

.topics-type {
  display: inline-block;
}

.topics-types h5 {
  color: #8d33aa;
  font-weight: bold;
}

.sub-list a {
  display: contents;
  padding-left: 5px !important;
  color: #000;
  font-weight: normal;
}

.sub-list li {
  list-style: none;
  padding: 1px;
  font-size: 14px;
  margin-left: 5px;
}

.sub-list .icon img {
  height: 40px;
  width: 30px;
}

.main-content {
  border: 1px solid #333;
  padding: 25px;
}


/*loader*/




/*quiz*/
/* #question {
  padding: 25px;
  font-size: 21px;
}
.scores {
  float: right;
  bottom: 44px;
  right: 15px;
  position: relative;
  border: 1px solid #0b863c;
  width: 100px;
  text-align: center;
  padding: 17px 17px 30px 17px;
}
.scores strong {
    background-color: #10a0b6;
    color: #fff;
    padding: 10px 22px 10px 22px;
    margin-left: -17px;
    position: relative;
    top: -8px;
}
.score-group .score-box {
  width: 50px;
  background-color: #e4e4e4;
}
.scores .score-box {
  position: relative;
    top: 15px;
    font-weight: bold;
}
#answers-group button {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: transparent;
}
#answers-group {
  margin-left: 30px;
} */
/* 
#answers-group button:active {
  background-color: #8d33aa;
} */
/* #answers-group button .incorrectAns {
  background-color: red;
} */




/*--quiz-*/
.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 25px;
  border: 1px solid black;
  box-shadow: 4px 4px 2px black;
  padding: 5px 10px;
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px;
}


/*----Registration page----*/
.choose-option {
  background-color: #f5f5f5;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #858585;
  display: inline-block;
  font-size: 18px;
  line-height: 15px;
  margin: 0 0 0 4%;
  outline: 0;
  overflow: visible;
  padding: 0.4em 2em 0.5em 2em;
}

.choose-option:hover {
  color: #fff;
  background-color: #0b863c;
}

.choose-plan button:focus {
  background-color: #10a0b6;
  color: #fff;
}

.member-part h4 {
  font-weight: bold;
  color: #0b863c;
  margin-top: 20px;
}

.teaching p {
  margin-left: 20px;
  margin: 15px 0px 0px 15px;
}

.maths-price button {
  padding: 4px;
  border-radius: 15px;
  width: 120px;
  margin-left: 15px;
  font-size: 15px;
  margin-right: 15px;
  background-color: #10a0b6;
  color: #fff;
  border: 1px solid #fff;
}

.maths-price button:hover {
  background-color: #10a0b6;
  color: #fff;
}

.maths-price {
  margin-top: 18px;
}

.maths-price button:focus {
  border-color: #000;
  color: #000;
}

.addtional-amount {
  vertical-align: -webkit-baseline-middle;
  font-size: 18px;
}

.addtional-amount strong {
  display: block;
  font-size: 22px;
}

.plan-part button {
  margin: 10px;
  border-radius: 5px;
  background-color: #10a0b6;
  color: #fff;
  border-color: #10a0b6;
}

.plan-part button:focus {
  color: #333;
  font-weight: bold;
}

.type-part button {
  margin: 10px;
  border-radius: 5px;
  background-color: #10a0b6;
  color: #fff;
  border-color: #10a0b6;
}

.type-part button:focus {
  color: #333;
  font-weight: bold;
}

.plan-heading {
  color: #0b863c;
  font-size: 18px;
  display: inline-flex;
}

.teaching {
  display: flex;
}

.teaching img {
  width: 100px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
}

.info-heading {
  font-size: 18px;
  color: #0b863c;
}

.reg-detail-part label {
  width: 260px;
}

.name-part {
  display: flex;
}

.country-part input {
  margin-left: 150px;
  width: 79%;
  margin-bottom: 20px;
  margin-top: -31px;
}

.country-part select {
  margin-bottom: 15px;
}

.country-part label {
  width: 188px !important;
}

.email-part {
  display: flex;
}

.password-part {
  display: flex;
  margin-top: 18px;
}

.password-part span {
  width: 0px !important;
}

.password-part span svg {
  margin-left: -25px;
  vertical-align: -webkit-baseline-middle;
  font-size: 17px;
}

.phonenumber-part {
  display: flex;
}

.children-count {
  display: flex;
}

.school-count {
  margin-left: 15px;
}

.school-count button {
  border-radius: 5px;
  background-color: #10a0b6;
  color: #fff;
  border-color: #10a0b6;
}

.school-count button:focus {
  color: #333;
}

.cart_box {
  margin-left: 7px;
}

.cart_box button {
  border-radius: 5px;
}

.cart_box .left-btn {
  border-right: none;
  width: 27px;
}

.cart_box .right-btn {
  border-left: none;
  width: 27px;
}

.cart_box span {
  border: 1px solid #333;
  padding: 1px 10px 2px 10px;
  margin: 0px 0px 0px -2px;
}

.register-info-detail>div {
  padding: 10px;
}

.register-info-detail span {
  width: 180px;
}

.plan-sec {
  background-color: #e4e4e4;
  margin-top: 25px;
  color: #333;
  text-align: center;
  border-radius: 10px;
}

.plan-selected {
  padding: 55px;
  margin-top: 8px;
}

.plan-selected>div {
  margin-top: 15px;
}

.child-count {
  font-size: 18px;
}

.membership-selected {
  font-size: 18px;
}

.selected-amt {
  font-size: 30px;
}

.join-benefit p {
  padding: 5px 25px 5px 25px;
}

.submit-btn {
  margin-top: 8px;
}

.submit-btn button {
  float: right;
}

/*-----Login----*/
/* .login-area {
  padding: 30px;
}
.login-details li {
  float: right;
}
.login-details a {
  font-size: 13px;
  text-decoration: none;
}
.login-details > div {
  margin: 10px;
}
.login-details input {
  display: block;
} */
.register-part {
  margin: 10px 0px 20px 15px;
  font-size: 15px;
  float: right;
}

.sign-in-data button {
  margin-top: 42px;
}

.register-part strong {
  margin-top: 11px;
}

.register-part a {
  margin-top: 1px;
}

.modal-content {
  width: 40%;
  margin: 8em auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.modal-header {
  display: block;
  text-align: center;
}

.login-input-detail {
  margin-bottom: 10px;
}

.login-input-detail span {
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  cursor: pointer;
}

.login-forgot {
  float: right;
}

.login-forgot .nav-tabs {
  border-bottom: none;
}

.login-forgot {
  margin-bottom: 18px;
}

.login-center {
  max-width: 800px;
  margin: auto;
  padding: 35px;
}

.login-center .card {
  border-radius: 10px;
}

.login-bg-setting {
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #1A2038;
  min-height: 100% !important;
}

.forgot-uname {
  background: #1A2038 !important;
  padding: 25px;
}

.forgot-bg-color {
  margin: auto !important;
  min-height: 100% !important;
  max-width: 800px;
  margin: 1rem;
}

.forgot-bg-color .MuiPaper-root {
  padding: 15px;
}

/*----Test completed----*/

.success {
  background: linear-gradient(90deg, #0b756c, #2a6d80);
  height: 600px;
  overflow: hidden;
  position: relative;
  bottom: 38px;
  margin-top: 65px;
}

.test-completed {
  position: relative;
  bottom: 110px;
  text-align: center;
}

.test-completed h4 {
  color: #fff;
  margin-top: -30px;
}

.planet-cont {
  width: 200px;
  height: 150px;
  margin-left: 5.5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-cont.bottom {
  margin-left: 70%;
}

.yellow-planet {
  position: relative;
  bottom: 125px;
}

.planet {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
  background: linear-gradient(120deg, #FFE5B4, #FFEB3B);
  border-radius: 50%;
}

.planet.bottom {
  background: linear-gradient(120deg, #E6E6FA, #C8A2C8);
  /* position: relative;
  bottom: 100px; */
}

/* .planet {
  position: relative;
  bottom: 80px;
} */
.rings {
  position: absolute;
  margin-top: 12px;
  width: 200px;
  height: 30px;
  border: 5px solid white;
  border-radius: 50%;
  border-top: none;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.test-complete-class {
  text-align: center;
  color: #fff;
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}

.test-complete-class a {
  color: #fff;
  text-decoration: underline;
}

.rings.bottom {
  transform: rotate(10deg);
}

.congarts h1 {
  font-family: "Space Mono";
  color: white;


  font-size: 50px;
  text-align: center;
  text-shadow:
    -2px -2px #1565C0,
    -3px -3px #1565C0,
    -4px -4px white;
}

.star {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(120deg, #FFFCBB, white);
  animation-name: twinkle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.star.a {
  top: 20%;
  left: 40%;
  animation-delay: 12s;
}

.star.b {
  top: 7%;
  left: 60%;
  animation-delay: 11s;
}

.star.c {
  top: 30%;
  left: 55%;
  animation-delay: 3s;
}

.star.d {
  top: 37%;
  left: 75%;
  animation-delay: 4s;
}

.star.e {
  top: 15%;
  left: 90%;
  animation-delay: 9s;
}

.star.f {
  top: 17%;
  left: 68%;
  animation-delay: 1s;
}

.star.g {
  top: 60%;
  left: 58%;
  animation-delay: 8s;
}

.star.h {
  top: 69%;
  left: 37%;
  animation-delay: 2s;
}

.star.i {
  top: 63%;
  left: 20%;
  animation-delay: 13s;
}

.star.j {
  top: 80%;
  left: 10%;
  animation-delay: 10s;
}

.star.k {
  top: 85%;
  left: 65%;
  animation-delay: 7s;
}

.star.l {
  top: 89%;
  left: 27%;
  animation-delay: 4s;
}

.star.m {
  top: 85%;
  left: 47%;
  animation-delay: 5s;
}

.star.n {
  top: 47%;
  left: 89%;
  animation-delay: 14s;
}

@keyframes twinkle {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.0);
  }
}

.rocket-cont {
  position: absolute;
  top: -50%;
  left: 80%;
  height: 90px;
  width: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation-name: launch;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

.rocket-top {
  width: 100%;
  height: 65%;
  background: #ECEFF1;
  border-radius: 50% 50% 5% 5%;
  z-index: 2;
}

.rocket-bottom {
  z-index: 1;
  border-bottom: 7px solid red;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  height: 0px;
  width: 0px;
  transform: scale(2);
  margin-top: -7px;
}

.flame {
  width: 15px;
  height: 15px;
  border: 1px solid #FFC400;
  background: #fffcbb;
  border-radius: 15% 50% 50% 50%;
  box-shadow: 4px 4px 40px 15px #eedd82, -4px -4px 40px 15px #eedd82;
  transform: rotate(-135deg);
  animation-name: flame;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes flame {
  0% {
    width: 15px;
    height: 15px;
    background: #fffcbb;
    border-radius: 15% 50% 50% 50%;
  }

  25% {
    border-radius: 10% 50% 50% 50%;
    transform: rotate(-160deg);
  }

  50% {
    border-radius: 25% 45% 55% 45%;
    transform: rotate(-120deg);
    background: #FFEA00;
  }

  75% {
    width: 20px;
    height: 20px;
    border-radius: 20% 60% 60% 60%;
  }

  100% {
    width: 15px;
    height: 15px;
    background: #fffcbb;
    border-radius: 15% 50% 50% 50%;
  }
}

@keyframes launch {
  0% {
    top: 50%;
  }

  100% {
    top: -50%;
  }
}

.checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;

  margin: auto;
}

.checkmark-circle .background {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background: #00C09D;
  position: absolute;
}

.checkmark-circle .checkmark {
  border-radius: 5px;
}

.checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 2.5px !important;
  content: '';
  left: 8px;
  top: 56px;
  position: absolute;
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }

  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }

  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }

  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}

.score-board span img {
  width: 60px;
}

.score-board span {
  display: inline-block;
  margin: 10px 20px 0px 20px;
}

.score-board p {
  color: #fff;
}

.score-board a {
  color: #fff;
  text-decoration: underline;
}

.score-board a:hover {
  color: #000;
}

/*-----Laerning Maths-------*/

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --html-color: #56cfe1;
  --css-color: #4ea8de;
  --js-color: #5e60ce;
  --light: white;
  --light-grey: rgba(255, 255, 255, 0.7);
  --dark: #050505;
  --header: #dbdbdb;
  --bg: #f0f0f0;
  --text: var(--dark);
  --text-hover: var(--text);
  --slide: cubic-bezier(0.59, 0.01, 0.48, 1);
  --mode-hover: #203297;
}



.classes-maths {
  padding: 15px;
}

.courses {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.course {
  margin-top: 20px;
  display: flex;
  margin: auto;
  max-width: 900px;
  height: 115px;

  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.course-info {
  width: 100%;
  height: 100%;
  color: var(--light);
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start; */
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: width 550ms var(--slide);
}

.course.maths .course-info {
  background-color: #10a0b6;
}


.course .course-info,
.course:focus-within .course-info {
  width: 30%;
}

.course-info span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: var(--light-grey);
  margin-bottom: 12px;
}

.course-info h5 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.course-info a {
  color: var(--light-grey);
  text-decoration: none;
  transition: 150ms color;
  position: absolute;
  bottom: 25px;
  left: 30px;
}

.course-more .chapters {
  color: var(--dark);
  text-decoration: none;
  transition: 150ms color;
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: none;
}

.course-info a:hover {
  color: var(--light);
}

.course-info i {
  font-size: 14px;
}

.course-more {
  width: 65%;
  height: 100%;
  background: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 550ms var(--slide);
}

.course:hover .course-more,
.course:focus-within .course-more {
  transform: translateX(0);
}

.details-sub {
  position: relative;
  top: 15px;
  left: 278px;
  width: 580px;
}

.details-sub span {
  color: #000;
}

.course.maths .details-sub>h5 {
  color: var(--html-color);
}

.continue-practice button {
  margin-top: 40px;
  margin-top: 72px;
  border-radius: 15px;
  background: #10a0b6;
  color: #fff;
  position: relative;
  margin-left: 220px;
}

.continue-practice button:focus {
  color: #333;
}

@media screen and (max-width: 950px) {
  .course {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .course-more {
    width: 100%;
  }

  .course-more .chapters {
    display: block;
  }

  .course-info a {
    display: none;
  }

  .course:hover .course-info {
    width: 100%;
  }
}

.overlay {
  background: var(--header);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms var(--slide);
  display: grid;
  place-items: center;
  padding: 20px;
}

.overlay-message {
  font-size: 30px;
  font-weight: 600;
  opacity: 0;
  color: var(--text);
  transition: opacity 250ms;
  text-align: center;
}

.view-part {
  margin: 15px 0px 0px 76px;
}

.view-part span {
  padding: 0px 0px 0px 10px;

}

.wave-spaces {
  margin: 50px 0px 180px 0px;
}

section {
  position: relative;
  width: 100%;
  background: linear-gradient(60deg, #e7faff 0%, rgb(213 236 239) 100%);
  overflow: hidden;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.postimg.cc/YqcvK11W/wave.png);
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;

}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;

}

section .wave.wave3 {
  animation: animate3 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: 2s;
  bottom: 15px;

}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 10px;

}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

/*----Learning topics----*/

.topics-maths h1 {
  text-align: center;
}

.topics-maths {
  display: flex;
  padding: 20px;
}

.sub-topics {
  --col-gap: 2rem;
  --barH: 1rem;
  --roleH: 2rem;
  --flapH: 3rem;

  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;

  gap: var(--col-gap);
  padding-inline: calc(var(--col-gap) / 2);

  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.sub-topics .topic-one {

  display: grid;
  grid-template:
    "role"
    "icon"
    "title"
    "descr";
  align-items: flex-start;
  gap: 1rem;
  padding-block-end: calc(var(--flapH) + 1rem);
  text-align: center;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) var(--roleH),
      rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
      rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem));
  clip-path: polygon(calc(var(--col-gap) / -2 - 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) 0,
      calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
      50% 100%,
      calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH)));
}

/* bar */
.sub-topics .topic-one::before {
  content: "";
  grid-area: role;
  height: var(--barH);
  width: calc(100% + var(--col-gap));
  margin-left: calc(var(--col-gap) / -2);
  margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
  background: rgb(223, 219, 219);
  z-index: -1;
  /* background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.4)
  ); */
}

/* role */
.sub-topics .topic-one::after {
  content: "";
  grid-area: role;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2) 30%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.4));
  height: var(--roleH);
}

.topics-maths ul li .icon,
.sub-topics .topic-one .title,
.sub-topics .topic-one .descr {
  padding-inline: 1rem;
  color: white;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

ul li .icon {
  font-size: 3rem;
}

.sub-topics .topic-one .title {
  font-size: 1.25rem;
  font-weight: 700;
  width: 325px;
}

.sub-topics .topic-one .descr {
  font-size: 16px;
  display: contents;
}

.topic-one a {
  display: contents;
}

.topic-one .descr:hover {
  color: #000;
}

.credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.credits a {
  color: var(--color);
}

.sub-topics .topic-one {
  background-color: #10a0b6;
}

.sub-topicSkills button {
  color: #fff;
  background-color: #0b863c;
  border-radius: 10px;
  font-size: 14px;
}

.sub-topicSkills button:focus {
  color: #333;
}


/*----Awards----*/

.title h2 {
  color: #1565C0;
  font-weight: bold;
}

.center-title h4 {
  margin: auto;
  margin-bottom: 20px;
  color: #00C09D;
}

.knowledge-sec {
  margin-top: 40px;
  margin: auto;
  padding: 20px;
  margin-bottom: 25px;
}

.knowledge-sec h4 {
  color: #15a085;
  font-weight: 400;
}

.hr-line {
  height: 2px;
  margin: auto;
  width: 85%;
  background-color: #00C09D;
}

.uncover-sec h4 {
  color: #8d33aa;
  font-weight: 400;
  padding: 20px;
}

.achievement-sec h4 {
  color: cornflowerblue;
  font-weight: 400;
  padding: 20px;
}

.learning-tab {
  overflow: hidden;
  border-bottom: 1px solid #333;
  background-color: #fff;
  margin-bottom: 1px;
}

.learning-tab img {
  width: 28px;
  margin-left: 5px;
}

.learning-tab img:hover {
  color: #00C09D;
}

.learning-tab border-left {
  border-left: 1px solid #ccc;
}

.learning-tab a:active {
  color: #00C09D;
}

.learning-tab a {
  color: #000;
}

.learning-tab span:hover {
  background-color: #f1f1f1;
  color: #00C09D;
}

.learning-tab span {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 77px;
  transition: 0.3s;
  font-size: 17px;
}

/*-----Awrads standrad-----*/


.awards-dec {
  width: 50%;
  margin: 20px 0px 20px 140px;
  border: solid 5px #0b863c;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.awards-dec h4 {
  margin-top: 30px;
}

.awards-details {
  padding: 25px;
}

.awards-details tr {
  margin: 5px;
}

.practice-details {
  margin-bottom: 20px;
}

.awards-details span {
  float: right;
  margin-top: -30px;
}

.practice-details h6 {
  font-weight: normal;
  text-align: initial;
  display: inherit;
  font-weight: bold;
}

.awards-details a {
  text-align: initial;
  position: relative;
  top: -30px;
  text-decoration: underline;
  color: #333;
  float: right;
}

.awards-details a:hover {
  color: #10a0b6;
}

/* .bg-img-award {
  background-image: url("../images/cloud-travel.jpeg");
  background-size: cover;
  padding: 107px;
} */


.class-list span {
  float: left;
}

.class-list span a {
  margin-left: 6px;
}

.class-year span {
  margin-top: 20px;
}

.class-year span a {
  color: #fff;
}

.class-year {
  padding: 3px;
  margin-left: 84px;
  color: #fff;
}

.sub-bg-color {
  background-color: #10a0b6;
  margin: 10px 0px 10px 0px;
}

.awards-prices {
  margin: 10px 0px 10px 90px;
}

.subject-tab {
  display: contents;
}

.subject-tab li {
  display: contents;
}

.award-btn {
  float: right;
  margin: 28px 20px 0px 0px;
}

/*-----certificate----*/





.ol-cards {
  --flapWidth: 0.5rem;
  --flapHeigth: 1rem;
  --iconSize: 3rem;
  --numberSize: 3rem;

  width: min(100%, 55rem);
  margin-inline: auto;
  display: grid;

  -webkit-padding-start: var(--flapWidth);
  padding-inline-start: var(--flapWidth);
  font-family: sans-serif;
  color: #222;
  counter-reset: ol-cards-count;
  list-style: none;
}

.ol-cards>li {

  grid-template-areas:
    "icon title nr"
    "icon descr nr";
  gap: 0 var(--colGapSize);
  align-items: center;
  padding: var(--colGapSize) var(--flapWidth) var(--colGapSize) 0;
  border-radius: 1rem 5rem 5rem 1rem;
  height: 127px;
  counter-increment: ol-cards-count;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  box-shadow: inset 2px 1px 17px 0px #a9a4a4, inset -1px -1px 1px rgb(255 251 251 / 25%);
}

.ol-cards>li>.icon {
  grid-area: icon;
  background: var(--accent-color);
  color: white;
  font-size: var(--iconSize);
  width: calc(2 * var(--flapWidth) + var(--iconSize));
  padding-block: 1.5rem;
  border-radius: 0 5rem 5rem 0;
  margin-inline-start: calc(-1 * var(--flapWidth));
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: grid;
  height: 124px;
  place-items: center;
}

.ol-cards>li>.icon::before {
  content: "";
  position: absolute;
  width: var(--flapWidth);

  height: calc(100% + calc(var(--flapHeigth) * 2));
  left: 0;
  top: calc(var(--flapHeigth) * -1);
  clip-path: polygon(0 var(--flapHeigth),
      100% 0,
      100% 100%,
      0 calc(100% - var(--flapHeigth)));
  background-color: var(--accent-color);
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2));
  z-index: -1;
}

.ol-cards>li>.title {
  grid-area: title;
  font-weight: 600;
  font-size: 18px;
  margin-left: 70px;
  margin-top: -83px;
}

.ol-cards>li>.title span {
  position: relative;
  top: -20px;
}

.ol-cards>li>.descr p {
  margin-left: 72px;

}

.ol-cards>li>.descr span {
  float: left;
  margin-top: -23px;
}

.ol-cards {
  --accent-color: #4CBEB8;
}

.view-certificate button {
  position: relative;
  top: -14px;
  float: right;
  right: 69px;
  border-radius: 8px;
  color: #000;
  border-color: #333;
  background-color: #4CBEB8;
}

/*----recommendation-page----*/

.recommendation-text {
  padding: 35px;
}

.recommendation-text h4 {
  color: #8d33aa;
  font-weight: bold;
}

.question-screen img {
  padding: 10px;
}

.question-screen {
  background-color: aliceblue;
  padding: 12px;
}

.question-screen span {
  color: #000;
  margin: 20px;
}

.question-screen button {
  float: right;
  margin-right: 22px;
  border-radius: 5px;
  color: #fff;
  border-color: #10a0b6;
  background-color: #10a0b6;
}

/* .question-screen:hover {
  transform: translateY(-20px);
  box-shadow: 0 20px 20px rgba(0,0,0,.2);
  animation: animate 1.5s ease-in-out both infinite;
} */


/*---Analytics-Menu-----*/
.analytics-tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 1px;
}

.analytics-tab img {
  width: 28px;
  margin-left: 5px;
}

.analytics-tab img:hover {
  color: #00C09D;
}

.analytics-tab border-left {
  border-left: 1px solid #ccc;
}

.analytics-tab a:active {
  color: #00C09D;
}

.analytics-tab a {
  color: #000;
}

.analytics-tab span:hover {
  background-color: #f1f1f1;
  color: #00C09D;
}

.analytics-tab span {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 132px;
  transition: 0.3s;
  font-size: 16px;
}

.usage-select-sec {
  background-color: #10a0b6;
}

.usage-detail {
  margin-left: 14px;
  padding: 2px;
}

.usage-detail span {
  color: #fff;
}

.usage-detail select {
  margin: 1px;
  font-size: 13px;
  background-color: #f1eeee;
}

.usage-title h3 {
  color: #0b863c;
  font-weight: bold;
  margin-left: 20px;
}

/*----Analytics-Progress-----*/
.kidz-progress-details table {
  border: 1px solid #333;
}

.kidz-progress-details table th {
  background-color: #10a0b6;
  color: #fff;
  padding: 13px;
  font-size: 17px;
}

.kidz-progress-details .table td,
.table th {
  padding: 6px 20px 6px 20px;
  vertical-align: baseline;
}

.kidz-details {
  font-size: .9em;
  box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
  overflow: hidden;
  margin: 0px 10px 10px 10px;

}

.kidz-details>div>div {
  padding: 9px;
  margin: 1px;
}

.progress-title {
  margin-left: 24px;
}

.progress-title h3 {
  font-weight: 300;
}


.kidz-progress-level progress {
  height: 20px;
  width: 100%;
  vertical-align: middle;
}

.kidz-progress-level {
  padding: 8px !important;
}


/*---Analytics-QUestionsLog--*/

/*---Tabs---*/


.tabs-block>div>div>div {
  color: #fff;
  display: grid !important;
  border: 1px solid #1976d2;

  margin-left: 25px;
}

.tabs-block>div>div>div button {
  border-bottom: 1px solid #e4e4e4;
}

.block-display button {
  display: block;
  padding: 20px;

}

.block {
  padding: 10px;
}

.content {
  position: relative;
  margin: auto;
  padding: 25px;
}

.content h6 {
  font-weight: bold;
  color: #0b863c;
}

.content p {
  padding-left: 10px;
}

.content .select-option {
  padding: 0px 0px 15px 20px;
}

.flex-container {
  height: 370px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 40px;
  direction: rtl;
  font-weight: bold;
}

.descr-border {
  border: 3px solid #1976d2;
}

.btn-descr {
  font-size: 14px;
}

.correct-ans h6 {
  font-weight: bold;
}

.kidz-ans h6 {
  font-weight: bold;
}

.awards-bg-img {
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  height: 440px;

}

/*------Tabactive----*/
.active {
  color: #763cff !important;
  font-weight: bold !important;
}

/*--forgot-password---*/
.update-pwd .MuiBox-root {
  margin-top: 20px;
}


/*---Image-hover--*/

.grade-sec .class-tab-box {
  width: 70px;
  margin-left: 10px;
  height: 70px;
  background-image: url('../images/rainbow.png');
  background-size: cover;
}

.grade-sec:hover .class-tab-box {
  background-image: url("../images/rainbowgif.gif");
  width: 70px;
  margin-left: 10px;
  height: 70px;
  background-size: cover;
}

/*----register-success----*/
.success-card h1 {
  color: #88B04B;
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 10px;
}

.success-card p {
  color: #404F5E;
  font-size: 20px;
  margin: 0;
}

.success-card i {
  color: #9ABC66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

.success-card {
  background: white;
  padding: 60px;
  margin: auto;
  border-radius: 4px;
  box-shadow: rgb(200, 208, 216) 1px 1px 6px 3px;
  display: inline-block;
}

.register-success {
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #F8FAF5;
  margin: 0 auto;
}

.register-completed {
  text-align: center;
  margin: auto !important;
  display: block;
  padding: 85px;
}


/*---Error-msg---*/
.error-msg-show {
  padding: 50px;
}

.alert {
  margin: auto;
  background-color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  padding: 50px;
  padding-top: 150px;
  position: relative;
  border: 1px solid #efefda;
  border-radius: 2%;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.alert::before {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 100%;
  inset: 20px 0px 0px 100px;
  font-size: 60px;
  line-height: 100px;
  border: 5px solid gray;
  animation-name: reveal;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.alert>.alert-body {
  opacity: 0;
  animation-name: reveal-message;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes reveal-message {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.error {
  color: red;
}

.error::before {
  content: '✗';
  margin-left: 95px;
  background-color: #fef;
  box-shadow: 0px 0px 12px 7px rgba(255, 200, 150, 0.8) inset;
  border: 5px solid red;
}

@keyframes reveal {
  0% {
    border: 5px solid transparent;
    color: transparent;
    box-shadow: 0px 0px 12px 7px rgba(255, 250, 250, 0.8) inset;
    transform: rotate(1000deg);
  }

  25% {
    border-top: 5px solid gray;
    color: transparent;
    box-shadow: 0px 0px 17px 10px rgba(255, 250, 250, 0.8) inset;
  }

  50% {
    border-right: 5px solid gray;
    border-left: 5px solid gray;
    color: transparent;
    box-shadow: 0px 0px 17px 10px rgba(200, 200, 200, 0.8) inset;
  }

  75% {
    border-bottom: 5px solid gray;
    color: gray;
    box-shadow: 0px 0px 12px 7px rgba(200, 200, 200, 0.8) inset;
  }

  100% {
    border: 5px solid gray;
    box-shadow: 0px 0px 12px 7px rgba(200, 200, 200, 0.8) inset;
  }
}